# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Entorno virtual
.venv/
venv/
env/

# uv
.uv/

# Data
data/raw/*.zip
data/raw/toy_dataset/
data/processed/
data/ground_truth/

# Submissions
submissions/*.csv

# Metadata de submissions
!submissions/*.json

# macOS
.DS_Store

# IDEs
.idea/
.vscode/
*.swp
*.swo